<div class="row titleHolder">
	<h1>LLAMA POWER</h1>
</div>


<div class="row">
	<div class="llamaHolder">
	</div>
</div>

<br /><br />

<div class="row runningLlamaWrapper">
	<div class="runningLlama">
		<div id="lbody"></div>
		<div id="backLegL"></div>
		<div id="backLegR"></div>
		<div id="frontLegL"></div>
		<div id="frontLegR"></div>
	</div>
</div>

<div class="row movingLlamaDesc">
	<h6>This llama animation was made purely using CSS3 animations</h6>
</div>

