<div class="row titleHolder">
	<h1>Why Not?</h1>
</div>
<br /><br /><br /><br /><br /><br /><br />

<div class="row">
	<canvas id="myCanvas">Your browser does not support HTML5 canvas. Use a newer browser to play with bubbles :)</canvas>
</div>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<div class="row movingLlamaDesc">
	<h6>Thank you to Google, Rob Hawkes, and Mark Brenig-Jones &amp; Emile Petrone. This animated wordS bubble was inspired by and built on their work.</h6>
</div>


<%= javascript_include_tag "alphabet", 'data-turbolinks-track' => true %>
<%= javascript_include_tag "bubble", 'data-turbolinks-track' => true %>
<%= javascript_include_tag "why", 'data-turbolinks-track' => true %>