/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self

 */

 html, body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #fdf6e3;
    min-height: 100%;
}

::selection {
    background: #d33682;
    color: white;
}

#nav {
    background: #93a1a1;
    color: #002b36;
}

#nav li {
    background: #93a1a1;
}

#nav a {
    background: #93a1a1;
    color: #002b36;
}

.title-area, .name{
	background-color: #b58900;
}

.name h1{
	color: #efefef;
	background-color: #b58900;
}

#footer {
    height: 23px;
    width: 100%;
    background-color: #93a1a1;
    position: absolute;
    bottom: 0;
}

#foot {
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    bottom: 0;
}

.titleHolder{
	text-align: center;
}

.titleHolder h1{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.llamaHolder{
	height: 510px;
	background-image: url("/assets/images/llama.jpg");
	background-repeat: no-repeat;
}