/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self

 */

 html, body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #fdf6e3;
    min-height: 100%;
}

::selection {
    background: #d33682;
    color: white;
}

#nav {
    background: #93a1a1;
    color: #002b36;
}

#nav li {
    background: #93a1a1;
}

#nav a {
    background: #93a1a1;
    color: #002b36;
}

.title-area, .name{
	background-color: #b58900;
}

.name h1{
	color: #efefef;
	background-color: #b58900;
}

#footer {
    height: 23px;
    width: 100%;
    background-color: #93a1a1;
    position: absolute;
    bottom: 0;
}

#foot {
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    bottom: 0;
}

.titleHolder{
	text-align: center;
}

.titleHolder h1{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.llamaHolder{
    position: relative;
    width: 500px;
	height: 450px;
	background-image: url("/assets/images/llama.jpg");
	background-repeat: no-repeat;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 3; /* Chrome, Safari, Opera */
    /*animation-name: example;*/
    animation-duration: 4s;
    animation-iteration-count: 3;
    animation-direction: alternate;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
}

.movingLlamaDesc h6{
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.runningLlamaWrapper{
    margin-bottom: 15%;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 100%;
}

.runningLlama{
    display: inline-block;
    width: 400px;
    height: 100%;

}

#lbody, #backLegL, #backLegR, #frontLegL, #frontLegR{
    position: relative;
}

#lbody{
    width: 358px;
    height: 295px;
    background-image: url("/assets/images/llamaBody.png");
    background-repeat: no-repeat;
    z-index: 5;
}

#backLegL{
    width: 106px;
    height: 402px;
    background-image: url("/assets/images/llamaLeftBackLeg.png");
    background-repeat: no-repeat;
    bottom: 335px;
    z-index: 4;

    -webkit-animation:spin4 1s linear infinite;
    -moz-animation:spin4 1s linear infinite;
    animation:spin4 1s linear infinite;
    animation-direction: alternate;
}

#backLegR{
    width: 120px;
    height: 452px;
    background-image: url("/assets/images/llamaRightBackLeg.png");
    background-repeat: no-repeat;
    bottom: 780px;
    left: 40px;
    z-index: 6;

    -webkit-animation:spin3 1s linear infinite;
    -moz-animation:spin3 1s linear infinite;
    animation:spin3 1s linear infinite;
    animation-direction: alternate;
}

#frontLegL{
    width: 59px;
    height: 236px;
    background-image: url("/assets/images/llamaLeftFrontLeg.png");
    background-repeat: no-repeat;
    bottom: 1030px;
    left: 150px;
    z-index: 4;

    -webkit-animation:spin2 1s linear infinite;
    -moz-animation:spin2 1s linear infinite;
    animation:spin2 1s linear infinite;
    animation-direction: alternate;
}

#frontLegR{
    width: 59px;
    height: 236px;
    background-image: url("/assets/images/llamaLeftFrontLeg.png");
    background-repeat: no-repeat;
    bottom: 1260px;
    left: 200px;
    z-index: 6;

    -webkit-animation:spin1 1s linear infinite;
    -moz-animation:spin1 1s linear infinite;
    animation:spin1 1s linear infinite;
    animation-direction: alternate;
}

/*front right leg*/
@-moz-keyframes spin1 { 
    0% {-moz-transform: rotate(-35deg);}
    100% { -moz-transform: rotate(35deg); }
}
@-webkit-keyframes spin1 { 
    0% { -webkit-transform: rotate(-35deg);}
    100% { -webkit-transform: rotate(35deg); } 
}
@keyframes spin1 { 
     0% { -webkit-transform: rotate(-35deg);}
    100% { -webkit-transform: rotate(35deg); } 
}

/*front left leg*/ 
@-moz-keyframes spin2 { 
    0% {-moz-transform: rotate(35deg);}
    100% { -moz-transform: rotate(-35deg); }
}
@-webkit-keyframes spin2 { 
    0% { -webkit-transform: rotate(35deg);}
    100% { -webkit-transform: rotate(-35deg); } 
}
@keyframes spin2 { 
     0% { -webkit-transform: rotate(35deg);}
    100% { -webkit-transform: rotate(-35deg); } 
}

/*back right leg*/ 
@-moz-keyframes spin3 { 
    0% {-moz-transform: rotate(30deg);}
    100% { -moz-transform: rotate(-5deg); }
}
@-webkit-keyframes spin3 { 
    0% { -webkit-transform: rotate(30deg);}
    100% { -webkit-transform: rotate(-5deg); } 
}
@keyframes spin3 { 
     0% { -webkit-transform: rotate(30deg);}
    100% { -webkit-transform: rotate(-5deg); } 
}

/*back left leg*/ 
@-moz-keyframes spin4 { 
    0% {-moz-transform: rotate(-30deg);}
    100% { -moz-transform: rotate(10deg); }
}
@-webkit-keyframes spin4 { 
    0% { -webkit-transform: rotate(-30deg);}
    100% { -webkit-transform: rotate(10deg); } 
}
@keyframes spin4 { 
     0% { -webkit-transform: rotate(-30deg);}
    100% { -webkit-transform: rotate(10deg); } 
}

/*oscillate llama*/ 
@-webkit-keyframes oscillate {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);}
} 
 
@keyframes oscillate {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
} 