/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self

 */

 html, body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #fdf6e3;
    min-height: 100%;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #073642;
}

::selection {
    background: #d33682;
    color: white;
}

#nav {
    background: #93a1a1;
    color: #002b36;
}

#nav li {
    background: #93a1a1;
}

#nav a {
    background: #93a1a1;
    color: #002b36;
}

.title-area, .name{
	background-color: #b58900;
}

.name h1{
	color: #efefef;
	background-color: #b58900;
}

#footer {
    height: 25px;
    width: 100%;
    background-color: #93a1a1;
    position: absolute;
    bottom: 0;
}

#foot {
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    bottom: 0;
}

.titleHolder{
	text-align: center;
}

.titleHolder h1{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.movingLlamaDesc h6{
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.runningLlamaWrapper{
    margin-bottom: 15%;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 100%;
    background-color: #7ec0ee;
    background-image: url("/assets/images/background.png");

    -webkit-animation: backgroundScroll 20  s linear infinite;
    -moz-animation: backgroundScroll 20  s linear infinite;
    -o-animation: backgroundScroll 20  s linear infinite;
    -ms-animation: backgroundScroll 20  s linear infinite;
    animation: backgroundScroll 20s linear infinite;
}

.runningLlama{
    display: inline-block;
    width: 400px;
    height: 100%;
    margin-top: 100px;
}

#lbody, #backLegL, #backLegR, #frontLegL, #frontLegR{
    position: relative;
}

#lbody{
    width: 358px;
    height: 295px;
    background-image: url("/assets/images/llamaBody.png");
    background-repeat: no-repeat;
    bottom: 50px;
    z-index: 5;
    -webkit-animation: oscillate 1s infinite;
    -moz-animation: oscillate 1s oscillate infinite;
    -o-animation: oscillate 1s infinite;
    -ms-animation: oscillate 1s infinite;
    animation: oscillate 1s oscillate infinite;
}

#backLegLWrap{
    position: relative;
    bottom: 385px;

    -webkit-animation: oscillate 1s infinite;
    -moz-animation: oscillate 1s oscillate infinite;
    -o-animation: oscillate 1s infinite;
    -ms-animation: oscillate 1s infinite;
    animation: oscillate 1s oscillate infinite;
}

#backLegL{
    width: 106px;
    height: 402px;
    background-image: url("/assets/images/llamaLeftBackLeg.png");
    background-repeat: no-repeat;
    z-index: 4;

    -webkit-animation: spin4 1s linear infinite;
    -moz-animation: spin4 1s linear infinite;
    -o-animation: spin4 1s linear infinite;
    -ms-animation: spin4 1s linear infinite;
    animation:spin4 1s linear infinite;
    animation-direction: alternate;
}

#backLegRWrap{
    position: relative;
   
    z-index: 7;

    -webkit-animation: oscillate 1s infinite;
    -moz-animation: oscillate 1s oscillate infinite;
    -o-animation: oscillate 1s infinite;
    -ms-animation: oscillate 1s infinite;
    animation: oscillate 1s oscillate infinite;
}

#backLegR{
    width: 120px;
    height: 452px;
    background-image: url("/assets/images/llamaRightBackLeg.png");
    background-repeat: no-repeat;
    z-index: 6;
     bottom: 830px;
    left: 40px;

    -webkit-animation: spin3 1s linear infinite;
    -moz-animation: spin3 1s linear infinite;
    -o-animation: spin3 1s linear infinite;
    -ms-animation: spin3 1s linear infinite;
    animation: spin3 1s linear infinite;
    animation-direction: alternate;
}

#frontLegLWrap{
    position: relative;
    bottom: 1070px;
    left: 150px;

    -webkit-animation: oscillate 1s infinite;
    -moz-animation: oscillate 1s infinite;
    -o-animation: oscillate 1s infinite;
    -ms-animation: oscillate 1s infinite;
    animation: oscillate 1s infinite;
}

#frontLegL{
    width: 59px;
    height: 236px;
    background-image: url("/assets/images/llamaLeftFrontLeg.png");
    background-repeat: no-repeat;
    z-index: 4;

    -webkit-animation: spin2 1s linear infinite;
    -moz-animation: spin2 1s linear infinite;
    -o-animation: spin2 1s linear infinite;
    -ms-animation: spin2 1s linear infinite;
    animation: spin2 1s linear infinite;
    animation-direction: alternate;
}

#frontLegRWrap{
    position: relative;
    z-index: 10;

    -webkit-animation: oscillate 1s infinite;
    -moz-animation: oscillate 1s infinite;
    -o-animation: oscillate 1s infinite;
    -ms-animation: oscillate 1s infinite;
    animation: oscillate 1s infinite;
}

#frontLegR{
    width: 59px;
    height: 236px;
    background-image: url("/assets/images/llamaLeftFrontLeg.png");
    background-repeat: no-repeat;
    z-index: 6;
    bottom: 1310px;
    left: 200px;

    -webkit-animation: spin1 1s linear infinite;
    -moz-animation: spin1 1s linear infinite;
    -o-animation: spin1 1s linear infinite;
    -ms-animation: spin1 1s linear infinite;
    animation: spin1 1s linear infinite;
    animation-direction: alternate;
}

#saiyanCharge{
    position: relative;
    width: 470.5px;
    height: 475px;
    background-image: url("/assets/images/superSaiyan.png");
    z-index: 10;
    bottom: 1780px;
    right: 70px;

    -webkit-animation: charge 1s steps(3) infinite;
    -moz-animation: charge 1s steps(3) infinite;
    -o-animation: charge 1s steps(3) infinite;
    -ms-animation: charge 1s steps(3) infinite;
    animation: charge 1s steps(3) infinite; 
}

#hair{
    display: none;
    position: relative;
    width: 500px;
    height: 500px;
    background-image: url("/assets/images/hair.png");
    background-repeat: no-repeat;
    z-index: 20;
    bottom: 1684px;
    left: 236px;

    -webkit-animation: oscillate 1s infinite;
    -moz-animation: oscillate 1s oscillate infinite;
    -o-animation: oscillate 1s oscillate infinite;
    -ms-animation: oscillate 1s oscillate infinite;
    animation: oscillate 1s oscillate infinite;
}

#sun{
    position: relative;
    width: 50px;
    height: 50px;
    background-image: url("/assets/images/sun.png");
    background-repeat: no-repeat;
    z-index: 0;
    top: 140px;
    left: 50px;
}

#sprites{
    list-style: none;
      margin: 15px 0;
      text-align: center;
}

#sprites li{
    display: inline-block;
      vertical-align: top;
      text-align: center;
      width: 200px;
      list-style: none;
      margin: 0 auto;
      padding: 15px 30px;
}

.why{
    position: relative;
    width: 200px;
    height: 400px;
    background-repeat: no-repeat;

    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.what{
    position: relative;
    width: 200px;
    height: 400px;
    background-repeat: no-repeat;

    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.where{
    position: relative;
    width: 200px;
    height: 400px;
    background-repeat: no-repeat;

    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.how{
    position: relative;
    width: 200px;
    height: 400px;
    background-repeat: no-repeat;

    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.why:hover, .what:hover, .where:hover, .how:hover{
    -webkit-transform: translate(540px,-200px);
    -moz-transform: translate(540px,-200px);
    -o-transform: translate(540px,-200px);
    -ms-transform: translate(540px,-200px);
    transform: translate(0,-50px);
}

#sprites li a{
    width: 200px;
    height: 400px;
    
}

/* INDEX PAGE ANIMATIONS */

/*front right leg*/
@-webkit-keyframes spin1 { 
    0% { -webkit-transform: rotate(-35deg);}
    100% { -webkit-transform: rotate(35deg); } 
}
@-moz-keyframes spin1 { 
    0% {-moz-transform: rotate(-35deg);}
    100% { -moz-transform: rotate(35deg); }
}
@-o-keyframes spin1 { 
    0% {-o-transform: rotate(-35deg);}
    100% { -o-transform: rotate(35deg); }
}
@-ms-keyframes spin1 { 
    0% {-ms-transform: rotate(-35deg);}
    100% { -ms-transform: rotate(35deg); }
}
@keyframes spin1 { 
     0% { -webkit-transform: rotate(-35deg);}
    100% { -webkit-transform: rotate(35deg); } 
}

/*front left leg*/ 
@-webkit-keyframes spin2 { 
    0% { -webkit-transform: rotate(35deg);}
    100% { -webkit-transform: rotate(-35deg); } 
}
@-moz-keyframes spin2 { 
    0% {-moz-transform: rotate(35deg);}
    100% { -moz-transform: rotate(-35deg); }
}
@-o-keyframes spin2 { 
    0% {-o-transform: rotate(35deg);}
    100% { -o-transform: rotate(-35deg); }
}
@-ms-keyframes spin2 { 
    0% {-ms-transform: rotate(35deg);}
    100% { -ms-transform: rotate(-35deg); }
}
@keyframes spin2 { 
     0% { -webkit-transform: rotate(35deg);}
    100% { -webkit-transform: rotate(-35deg); } 
}

/*back right leg*/ 
@-webkit-keyframes spin3 { 
    0% { -webkit-transform: rotate(30deg);}
    100% { -webkit-transform: rotate(-5deg); } 
}
@-moz-keyframes spin3 { 
    0% {-moz-transform: rotate(30deg);}
    100% { -moz-transform: rotate(-5deg); }
}
@-o-keyframes spin3 { 
    0% {-o-transform: rotate(30deg);}
    100% { -o-transform: rotate(-5deg); }
}
@-ms-keyframes spin3 { 
    0% {-ms-transform: rotate(30deg);}
    100% { -ms-transform: rotate(-5deg); }
}
@keyframes spin3 { 
     0% { -webkit-transform: rotate(30deg);}
    100% { -webkit-transform: rotate(-5deg); } 
}

/*back left leg*/ 
@-webkit-keyframes spin4 { 
    0% { -webkit-transform: rotate(-30deg);}
    100% { -webkit-transform: rotate(10deg); } 
}
@-moz-keyframes spin4 { 
    0% {-moz-transform: rotate(-30deg);}
    100% { -moz-transform: rotate(10deg); }
}
@-o-keyframes spin4 { 
    0% {-o-transform: rotate(-30deg);}
    100% { -o-transform: rotate(10deg); }
}
@-ms-keyframes spin4 { 
    0% {-ms-transform: rotate(-30deg);}
    100% { -ms-transform: rotate(10deg); }
}
@keyframes spin4 { 
     0% { -webkit-transform: rotate(-30deg);}
    100% { -webkit-transform: rotate(10deg); } 
}

/*oscillate llama*/ 
@-webkit-keyframes oscillate {
    0% {-webkit-transform: translateY(0);}
    50% {-webkit-transform: translateY(-15px);}
} 
@-moz-keyframes oscillate {
    0% {-moz-transform: translateY(0);}
    50% {-moz-transform: translateY(-15px);}
}
@-o-keyframes oscillate {
    0% {-o-transform: translateY(0);}
    50% {-o-transform: translateY(-15px);}
}
@-ms-keyframes oscillate {
    0% {-ms-transform: translateY(0);}
    50% {-ms-transform: translateY(-15px);}
}
@keyframes oscillate {
    0% {-webkit-transform: translateY(0);}
    50% {-webkit-transform: translateY(-15px);}
}

 /*background scroll */
@-webkit-keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -1000px 0;}
}
@-moz-keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -1000px 0;}
}
@-o-keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -1000px 0;}
}
@-ms-keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -1000px 0;}
}
@keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -1000px 0;}
}

/* saiyan animation */
@-webkit-keyframes charge {
   100% { background-position: -1411.5px; }
}
@-moz-keyframes charge {
   100% { background-position: -1411.5px; }
}
@-o-keyframes charge {
   100% { background-position: -1411.5px; }
}
@-ms-keyframes charge {
   100% { background-position: -1411.5px; }
}
@keyframes charge {
   100% { background-position: -1411.5px; }
}

/* faces animation */
@-webkit-keyframes face { 
    0% {-moz-transform: translateY(-30px);}
}
@-moz-keyframes face { 
    0% {-moz-transform: translateY(-30px);}
}
@-o-keyframes face { 
    0% {-o-transform: translateY(-30px);}
}
@-ms-keyframes face { 
    0% {-ms-transform: translateY(-30px);}
}
@keyframes face { 
     0% {-webkit-transform: translateY(-30px);}
 }


 /* WHERE STYLING */
 .Planets{
    background-image:url('/assets/images/galaxy.png');
    height: 1100px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 0px;
}

.planets .container h1{
    font-size: 48px;
    color: #fff;
}

body{
    color: white;
    font-size: 14px;
}

#solarSun {
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    height: 200px;
    width: 200px;
    margin-top: -100px;
    margin-left: -100px;
    box-shadow: 0 0 100px red;
}

#mercury {
    position: absolute;
    top: 3%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-left: -25px;
    margin-top: -25px;
}

#mercury-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin-top: -150px;
    margin-left: -150px;
    
    border-width: 2px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;
    
    -webkit-animation: spin-right 8.8s linear infinite;
    -moz-animation: spin-right 8.8s linear infinite;
    -ms-animation: spin-right 8.8s linear infinite;
    -o-animation: spin-right 8.8s linear infinite;
    animation: spin-right 8.8s linear infinite;
}

#venus {
    position: absolute;
    top: .5%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-left: -25px;
    margin-top: -25px;
}

#venus-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-width: 2px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;
    
    -webkit-animation: spin-right 22.5s linear infinite;
    -moz-animation: spin-right 22.5s linear infinite;
    -ms-animation: spin-right 22.5s linear infinite;
    -o-animation: spin-right 22.5s linear infinite;
    animation: spin-right 22.5s linear infinite;
}

#earth {
    position: absolute;
    top: -5.5%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
}

#earth-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 510px;
    height: 510px;
    margin-top: -250px;
    margin-left: -250px;
    border-width: 2px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;
    
    -webkit-animation: spin-right 36.5s linear infinite;
    -moz-animation: spin-right 36.5s linear infinite;
    -ms-animation: spin-right 36.5s linear infinite;
    -o-animation: spin-right 36.5s linear infinite;
    animation: spin-right 36.5s linear infinite;
}

#mars {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;
}

#mars-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 600px;
    margin-top: -300px;
    margin-left: -300px;
    border-width: 2px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;
    
    -webkit-animation: spin-right 68.7s linear infinite;
    -moz-animation: spin-right 68.7s linear infinite;
    -ms-animation: spin-right 68.7s linear infinite;
    -o-animation: spin-right 68.7s linear infinite;
    animation: spin-right 68.7s linear infinite;
}

#jupiter {
    position: absolute;
    top: -1%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-left: -25px;
    margin-top: -25px;
}

#jupiter-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 700px;
    margin-top: -350px;
    margin-left: -350px;
    border-width: 2px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;
    
    -webkit-animation: spin-right 433.2s linear infinite;
    -moz-animation: spin-right 433.2s linear infinite;
    -ms-animation: spin-right 433.2s linear infinite;
    -o-animation: spin-right 433.2s linear infinite;
    animation: spin-right 433.2s linear infinite;
}

#saturn {
    position: absolute;
    top: -2.5%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-left: -25px;
    margin-top: -5px;
}

#saturn-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 800px;
    margin-top: -400px;
    margin-left: -400px;
    border-width: 2px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;
    
    -webkit-animation: spin-right 1075.9s linear infinite;
    -moz-animation: spin-right 1075.9s linear infinite;
    -ms-animation: spin-right 1075.9s linear infinite;
    -o-animation: spin-right 1075.9s linear infinite;
    animation: spin-right 1075.9s linear infinite;
}

#uranus {
    position: absolute;
    top: -1%;
    left: 50%;
    width: 65px;
    height: 65px;
    margin-left: -25px;
    margin-top: -25px;
}

#uranus-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 900px;
    height: 900px;
    margin-top: -450px;
    margin-left: -450px;
    border-width: 2px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;
    
    -webkit-animation: spin-right 3068.7s linear infinite;
    -moz-animation: spin-right 3068.7s linear infinite;
    -ms-animation: spin-right 3068.7s linear infinite;
    -o-animation: spin-right 3068.7s linear infinite;
    animation: spin-right 3068.7s linear infinite;
}

#neptune {
    position: absolute;
    top: -.5%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-left: -25px;
    margin-top: -25px;
}

#neptune-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1000px;
    height: 1000px;
    margin-top: -500px;
    margin-left: -500px;
    border-width: 2px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;
    
    -webkit-animation: spin-right 6019s linear infinite;
    -moz-animation: spin-right 6019s linear infinite;
    -ms-animation: spin-right 6019s linear infinite;
    -o-animation: spin-right 6019s linear infinite;
    animation: spin-right 6019s linear infinite;
}

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.whereEarth{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
}

.whereEarth h4{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#earthSentence{
    width: 200px;
    height: 200px;
}

td.upper_line { 
    border-top:solid 1px black; 
}

table.fraction { 
    text-align: center; 
    vertical-align: middle;
    margin-top:0.5em; 
    margin-bottom:0.5em; 
    line-height: 2em; 
}

/* END WHERE */

#farm{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 100%;
    background-color: #7ec0ee;
    background-image: url("/assets/images/background.png");
}

#c{
    background-color: #7ec0ee;
    background-image: url("/assets/images/background.png");
}

.myCanvasWrapper{
    height: 500px;
    width: 1000px;
}

#myCanvas{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: 0;
    display: block;
    width: 950px;
    height: 500px;
}